
#editor {
  display: flex;

  height: 100%;

  box-sizing: border-box;
}

#editor-content {
  padding: 15px;

  flex-grow: 1; /* Text Area should take up entire size of Parent ("editor") */

  color: white;

  box-sizing: border-box;

  border: none;
  resize: none;

  background-color: inherit;
}
