<div class="node" [ngClass]="{'root': isRoot}">

  <header class="node-header" (click)=" toggleSelection() ">

    <!-- ########### Node Type-Specific Styling ########### -->
    <ng-container *ngIf="isDirectory(); then directory else file"></ng-container>

    <ng-template #directory>
      <span [ngClass]="{'node-directory-arrow': true, 'expanded': isSelected}"></span>
      <img class="node-icon" src="../../assets/folder.png" />
    </ng-template>

    <ng-template #file>
      <img class="node-icon" src="../../assets/file.png" />
    </ng-template>
    <!-- ######################################### -->

    <span class="node-name">{{ node.name }}</span>
  </header>

  <!-- Handle Sub-Directories -->
  <ng-container *ngIf=" isDirectory() && isSelected ">
    <app-node *ngFor="let child of node.children" [node]="child"></app-node>
  </ng-container>

</div>
