
.node {
  padding: 10px;
  padding-left: 25px;
}

.node:hover {
  cursor: pointer;
}

/* Root takes prescendence since Chained Class Selector gives higher specificity */
.node.root {
  padding-left: 0;
}

/* Collapsed (default) */
.node-directory-arrow {
  display: inline-block;

  width: 0; height: 0;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;

  margin-right: 5px;
}

.node .node-directory-arrow.expanded {
  border-top: 5px solid black;
  border-bottom: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.node-icon {
  display: inline-block;

  padding-right: 5px;
  padding-bottom: 2px;

  width: 1em;
  vertical-align: middle;
}


.node-name {
  padding-right: 10px;

  font-weight: bold;

  color: #eeeeff;
}
