
app-explorer {
  padding-left: 10px;
  box-sizing: border-box;

  width: 15%;

  font-family: Courier New, monospace;

  overflow: auto;
  white-space: nowrap;

  background-color: var(--explorer-background-color);
}

app-editor {
  width: 100%;
  height: 100%;

  overflow: auto;

  background-color: var(--editor-background-color);
}


#container {
  display: flex;
  height: 100vh;
}
