/* You can add global styles to this file, and also import other style files */

:root {
  --explorer-background-color: #333842;
  --editor-background-color: #1E1E1E;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
